html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.header {
  &__title {
    margin: 0.8rem 0;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

.hero {
  margin-top: 3rem;

  &__text {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  &__question {
    margin-bottom: 0;
  }

  &__question + &__title {
    margin-top: 0;
  }

  &__section-1 {
    .hero__text {
      color: blue;
    }
  }

  &__section-2 {
    .hero__text {
      margin: 2rem 0;
    }

    .hero__title {
      margin: 1.375rem 0 0 0;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;

    label {
      font-size: 0.625rem;
      line-height: 0.9375rem;
    }

    .input {
      margin-top: 0.35rem;
      border: 1px solid red;
      display: flex;
      justify-content: space-between;

      input:focus {
        outline: none;
      }

      #email {
        font-size: 0.875rem;
        border: none;
        margin: 1em;
      }

      .btn__submit {
        margin: 0;
      }
    }
  }
}
